<ion-header>
	<ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
	</ion-buttons>
  <ion-toolbar>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<form #form="ngForm" (ngSubmit)="submitQuery()">
		<ion-item>
	      <ion-label position="floating">Title <ion-text color="danger">*</ion-text></ion-label>
	      <ion-input required name="title" [(ngModel)]="formData.title" ></ion-input>
		</ion-item>
		<ion-item>
	      <ion-label position="floating">Description <ion-text color="danger">*</ion-text></ion-label>
	      <ion-textarea required name="description" [(ngModel)]="formData.description" ></ion-textarea>
		</ion-item>

    	<ion-button type="submit" color="danger" [disabled]="form.invalid" expand="block">Submit Query</ion-button>
	</form>
</ion-content>
