<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary" class = 'text-sm-uppercase'>
      PLAY ALONG
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="registergame(form)" method="post">
    <ion-row *ngFor="let regskill of registerskills">
      <ion-col width-50>
        <ion-item>
          <ion-label position="floating">Games <ion-text color="danger">*</ion-text></ion-label>
          <ion-select name = "game" [(ngModel)]="regskill.games">
            <ion-select-option *ngFor="let game of allgames" [value] = "game.id" >{{game.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col width-50>
        <ion-item>
          <ion-label position="floating">Skills <ion-text color="danger">*</ion-text></ion-label>
          <ion-select name = "skill" [(ngModel)]="regskill.skills">
            <ion-select-option *ngFor="let skill of allskills" [value] = "skill.level" >{{skill.level}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row >
    <ion-button (click)="addSkill()">Add Skill</ion-button>
    <ion-button (click)="deleteSkill()">Delete Skill</ion-button>
    <ion-button type="submit" expand="full" color="primary" [disabled]="form.invalid" expand="block">Complete Register</ion-button>
  </form>
</ion-content>
