<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Create Game
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="createGame(form)" method="post">
    <ion-item>
      <ion-label position="floating">Game Name<ion-text color="danger">*</ion-text></ion-label>
      <ion-input name="name" [(ngModel)]="eventDetails.name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Games <ion-text color="danger">*</ion-text></ion-label>
      <ion-select name = "country" [(ngModel)]="eventDetails.game_type_id">
        <ion-select-option *ngFor="let game of allgames" [value] = "game.ID" >{{game.game}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Game Date<ion-text color="danger">*</ion-text></ion-label>
      <ion-datetime required name ="date" displayFormat="MMMM DD YYYY"  type="date" [(ngModel)]="eventDetails.date" ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Player Count<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required name = "playerCount" type="numeric" [(ngModel)]="eventDetails.playerCount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Game Cost<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required name="cost"  type="numeric" [(ngModel)]="eventDetails.cost"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apartment<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required name = "apt" [(ngModel)]="eventDetails.apt"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Street<ion-text color="danger">*</ion-text></ion-label>
      <ion-input name = "street" [(ngModel)]="eventDetails.street"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">City<ion-text color="danger">*</ion-text></ion-label>
      <ion-input name = "city" [(ngModel)]="eventDetails.city"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Country <ion-text color="danger">*</ion-text></ion-label>
      <ion-select name = "country" [(ngModel)]="eventDetails.country">
        <ion-select-option *ngFor="let country of countries" [value] = "country.code" >{{country.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Zipcode <ion-text color="danger">*</ion-text></ion-label>
      <ion-input name = "zipcode" [(ngModel)]="eventDetails.zipcode"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full" color="danger" [disabled]="form.invalid" expand="block">Create Game</ion-button>
  </form>
</ion-content>
